/* =========================
    FOOTER STYLES
   =========================
*/

footer {
	background-color: $deep-brown;
	padding: 2.2em 0 0.6em 0;
	width: 100%;
	p {
		color: white;
		font-size: 0.75em;
		margin-left: 4em;
	}
	#zeekee-slug {
		float: right;
		margin-right: 4em;
	}
	.social-links {
		text-align: center;
		li {
			display: inline-block;
			a {
				img {
					margin: 0 0.5em;
				}
			}
		}
	}
}

#footer {
	z-index: 300;
//	height:100px;
}

.page-container {
  min-height: 100%;
  /* equal to footer height */
	margin-bottom: -100px; 
}
.page-container:after {
	clear: both;
  content: "";
  display: block;
}
#footer, .page-container:after {
  /* .push must be the same height as footer */
	height: 100px; 
}