/* =========================
    GENERAL STYLES
   =========================
*/

* {
	margin: 0;
}

figure {
    margin: 0; // REMOVES DEFAULT MARGINS FOR HTML5 FIGURE ELEMENT
}

body {
	background: url("/img/home-bg-med.jpg") center center;
	background-size: cover;
    background-color: 3;
}

body.home {
//	overflow: hidden;
	.page-container {
	  min-height: 100%;
	  /* equal to footer height */
		margin-bottom: -103px; 
	}
	.page-container:after {
		clear: both;
	  content: "";
	  display: block;
	}
	#footer, .page-container:after {
	  /* .push must be the same height as footer */
		height: 103px; 
	}
}

html, body {
	height: 100%;
}