/* =========================
    NAV STYLES
   =========================
*/

.pig-nav {
	height: 550px;
}

.nav-bg {
	min-height: 850px;
	.sidenav {
		position:absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		background-position: center center;
	    background-size: cover;
	}
	.side-nav-gradient {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		z-index: 90;
		width: 100%;
		@include side-nav-gradient;
	}
}

.sidenav-fixed {
	.logo {
		a img {
			position: relative;
			width:  45%;
			margin-left: 3em;
			z-index: 100;
			height: 100%;
		}
	}
}

.top-bar {
	background: none;
	margin: 2em 0 0 3em;
	z-index: 200;
	.top-bar-section {
		ul {
			border-width: 0 0 1px 1px;
			border: 0 solid silver;
			li {
				background: none;
				display: block;
				float: none;
				border: 0 solid silver;
				border-width: 1px 1px 0 1px;
				a {
					text-align: center;
					@include side-nav-font;
				}
			}
			li:nth-child(6) {
				border-bottom: 1px solid silver;
			}
			li:not(.has-form) a:not(.button) {
				background: none;
				padding: 0.6em 0;
				&:hover {
					background: $deep-brown;
					@include transition(all 0.5s ease-in-out);
				}
			}
		}
	}
}