
@mixin body-font {
	font-family: "proxima-nova",sans-serif;
	font-style: normal;
	font-weight: 300; 
	font-size: 0.9rem;
}

@mixin side-nav-font {
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-size: 1.5rem;
}

@mixin header-font {
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 300;
}

@mixin side-nav-gradient {
	background-image: -webkit-gradient (
		linear,
		left bottom,
		right bottom,
		color-stop(0, rgba(0, 0, 0, 0.8)),
		color-stop(1, rgba(0, 0, 0, 0))
	);
	background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: -ms-linear-gradient(right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}