// COLORS
$deep-brown: #0b0805;
$tan: #BBAD87;

// FONTS
$black-beard: "black-beard", serif;

// COMMON BREAKPOINTS

$mobile: 480px;
$tablet: 768px;
$small-desktop: 1280px;
$large-desktop: 1680px;
$xlarge-desktop: 1920px;
