/* =========================
    MEDIA QUERIES
   =========================
*/
@media #{$small-up} {}
@media #{$small-only} {
	.top-bar {
		background: $deep-brown;
		margin: 2em 0 0 0;
	}
	.top-bar-section {
		background: rgba(0,0,0,0.6);
	}
	.top-bar.home-small-nav {
		margin: 0 0 6em 0;
	}
	.smallnav {
		background-size: cover;
		background-position: center center;
	}
	footer {
		background-color: none;
		p {
			font-size: 0.6rem;
			text-align: center;
		}
		img {
			text-align: center;
		}
		.social-links {
			li {
				a {
					img {
						width: 60%;
					}
				}
			}
		}
	}
	footer p {
		margin-left: 0;
		margin-bottom: 0.5rem;
		text-align: left;
	}
	footer #zeekee-slug {
		margin-right: 0;
		margin-bottom: 0.5rem;
		float:right;
	}
}

@media only screen and (min-width: 640px) and (max-width: 1280px) {}    // IN BETWEEN LARGE AND MEDIUM

@media #{$medium-up} {

}
@media #{$medium-only} {
	.top-bar {
		margin: 3em 0 0 0em;
		.top-bar-section {
			ul {
				li {
					a {
						font-size: 1.2rem;
					}
				}
				li:not(.has-form) a:not(.button) {
					padding: 0.3em 0;
				}
			}
		}
	}

	.sidenav-fixed .logo a img {
		width: 100%;
		margin-left: 0;
	}
	
	.sidenav {
		.sidenav-fixed {
			.logo {
				a img {
					width: 70%;
				}
			}
		}
	}
	.pig-nav {
		height: 450px;
	}
	footer p {
		margin-left: 0;
	}
	footer #zeekee-slug {
		margin-right: 0;
	}
}

@media #{$large-up} {
	.pig-nav {
		height: 550px;
	}
}
@media #{$large-only} {

}

@media #{$xlarge-up} {

}
@media #{$xlarge-only} { }

@media #{$xxlarge-up} {

}
@media #{$xxlarge-only} { }
