/* =========================
   CTA / SLIDER STYLES
   =========================
*/


/* =========================
    MAIN CONTENT STYLES
   =========================
*/

.nav-text {
	text-shadow: 0px 1px 1px $deep-brown;
	font-size: 1.7rem;
	font-family: "black-beard",serif;
	fill: white;
}

.nav-hover {
	&:hover {
		fill: rgba(255, 255, 255, 0.6);
		@include transition(all 0.5s ease-in-out);
		.nav-text {
			fill: $deep-brown;
			text-shadow: 0px 1px 1px white;
			@include transition(all 0.5s ease-in-out);
		}
	}
}