
/* =========================
    SUBPAGE CONTENT STYLES
   =========================
*/

.subpage {
	background-image: none;
	background-color: white;
}

.sub-content {
	padding: 3rem 1rem;
	.sub-title {
		@include header-font;
		text-align: center;
	}
	.sub-msg {
		@include body-font;
		margin: 2rem;
	}
}

.gallery {
	li {
		a img {
			width: 170px;
			height: 130px;
			border: 3px solid $deep-brown;
			&:hover {
				border: 6px solid $tan;
				@include transition(all 0.3s ease-in-out);
			}
		}
	}
}